<!DOCTYPE html>
<html lang="en" data-ng-app="website">
<head>
    
    
            <meta charset="utf-8">
        <title>Детский конкурс &quot;Поколение За!&quot;</title>
        <link rel="icon" href="/mt-content/uploads/2020/09/favicon_new.png?_build=1600070813" type="image/png" />

                                    
<link rel="canonical" href="https://foodforchildren.ru/" />
<meta property="og:title" content="Детский конкурс &quot;Поколение За!&quot;"/>
<meta property="og:url" content="https://foodforchildren.ru/"/>
<meta property="og:type" content="website"/>
                            <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    
            <link rel="stylesheet" href="/mt-includes/css/assets.min.css?_build=1599072377"/>
        <style>
@import url(//fonts.googleapis.com/css?family=Coiny:regular|Dosis:200,300,regular,500,600,700,800|Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic&subset=latin);
</style>
        <link rel="stylesheet" href="/mt-content/assets/styles.css?_build=1610529971" id="moto-website-style"/>
            
    
    
    
    
    
    
    
    
    
</head>
<body class="moto-background moto-website_live">
        
    
             

    <div class="page">


        <section id="section-content" class="content page-1 moto-section" data-widget="section" data-container="section">
                                    <div class="moto-widget moto-widget-block moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="block" data-spacing="aaaa" style="" data-bg-position="left top" wfd-id="185">
    
    
    <div class="container-fluid" wfd-id="186">
        <div class="row" wfd-id="187">
            <div class="moto-cell col-sm-12" data-container="container" wfd-id="188">
                
            <div class="moto-widget moto-widget-row row-fixed moto-justify-content_bottom moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="background-color:#339dd8;" data-bg-position="left top" wfd-id="208" data-visible-on="-">
    
    
    <div class="container-fluid" wfd-id="209">
        <div class="row" data-container="container" wfd-id="210">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-11 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="216">
    
    
<div class="moto-widget moto-widget-row row-gutter-0 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top" wfd-id="217">
    
    
    <div class="container-fluid" wfd-id="218">
        <div class="row" data-container="container" wfd-id="219">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="226"><div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="sasa" data-visible-on="-" data-animation="" wfd-id="227">
    <div class="moto-widget-text-content moto-widget-text-editable" wfd-id="228"><p class="moto-text_system_12" style="text-align: center;"><span class="fa fa-fw" wfd-id="231"></span><span style="font-size:20px;" wfd-id="229"><span wfd-id="230">8 800 222-08-07</span></span></p></div>
</div>
    
    
</div><div class="moto-widget moto-widget-row__column moto-cell col-sm-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="225">
    
    
</div><div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="220">
    
    
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="sasa" data-visible-on="-" data-animation="" wfd-id="221">
    <div class="moto-widget-text-content moto-widget-text-editable" wfd-id="222"><p class="moto-text_system_12" style="text-align: center;"><span class="fa fa-fw" wfd-id="224"></span> <span style="font-size:18px;" wfd-id="223"><strong>konkurs@foodforchildren.ru</strong></span></p></div>
</div></div>

                
            
        </div>
    </div>
</div></div><div class="moto-widget moto-widget-row__column moto-cell col-sm-1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="211">
    
    
<div id="wid_1535009235_4jtpxuqua" data-widget-id="wid_1535009235_4jtpxuqua" class="moto-widget moto-widget-social-links-extended moto-preset-3 moto-align-left moto-align-center_mobile-v moto-align-center_mobile-h moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-small  " data-widget="social_links_extended" data-preset="3">
        <ul class="moto-widget-social-links-extended__list">
                <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-1">
            <a href="https://vk.com/foodforchildrenru" class="moto-widget-social-links-extended__link" target="_blank" >
                <span class="moto-widget-social-links-extended__icon fa fa-vk"></span>
            </a>
        </li>
            </ul>
    <style type="text/css">
                    </style>
    </div></div>

                
            
        </div>
    </div>
</div><div class="moto-widget moto-widget-container moto-container_content_5b7e628a1" data-widget="container" data-container="container" data-css-name="moto-container_content_5b7e628a1" data-bg-position="left top" data-moto-sticky="{ }" wfd-id="191">
    
    
    
<div class="moto-widget moto-widget-row row-fixed row-gutter-0 moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top" wfd-id="192" data-visible-on="-">
    
    
    <div class="container-fluid" wfd-id="193">
        <div class="row" data-container="container" wfd-id="194">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-2 moto-spacing-top-zero moto-spacing-right-auto moto-spacing-bottom-zero moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="zaza" data-bg-position="left top" wfd-id="203"><div data-widget-id="wid_1535010230_f3xandbq9" class="moto-widget moto-widget-button moto-preset-default moto-align-left moto-align-center_mobile-v moto-align-center_mobile-h moto-spacing-top-small moto-spacing-right-zero moto-spacing-bottom-small moto-spacing-left-auto moto-visible-on_mobile-h_hidden moto-visible-on_mobile-v_hidden " data-widget="button">
            <a href="#"   data-action="scroll_to_anchor" data-anchor="Contact" data-time="0.4" data-moto-widget-actions-scroll-to class="moto-widget-button-link moto-size-medium moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">НАПИСАТЬ НАМ</span></a>
    </div>
    
    
</div><div class="moto-widget moto-widget-row__column moto-cell col-sm-10 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="195">
    
    
<div data-widget-id="wid_1535009530_ulcrozagk" class="moto-widget moto-widget-menu moto-preset-default moto-align-right moto-align-center_mobile-h moto-spacing-top-small moto-spacing-right-small moto-spacing-bottom-small moto-spacing-left-small" data-preset="default" data-widget="menu">
            <a href="#" class="moto-widget-menu-toggle-btn"><i class="moto-widget-menu-toggle-btn-icon fa fa-bars"></i></a>
        <ul class="moto-widget-menu-list moto-widget-menu-list_horizontal">
            <li class="moto-widget-menu-item">
    <a href="#"   data-action="scroll_to_anchor" data-anchor="About" data-time="0.4" data-moto-widget-actions-scroll-to class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">КОНКУРС</a>
        </li><li class="moto-widget-menu-item">
    <a href="#"   data-action="scroll_to_anchor" data-anchor="Geo" data-time="0.4" data-moto-widget-actions-scroll-to class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">ГЕОГРАФИЯ</a>
        </li><li class="moto-widget-menu-item">
    <a href="#"   data-action="scroll_to_anchor" data-anchor="Docs" data-time="0.4" data-moto-widget-actions-scroll-to class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">ДОКУМЕНТАЦИЯ</a>
        </li><li class="moto-widget-menu-item">
    <a href="#"   data-action="scroll_to_anchor" data-anchor="Scheme" data-time="0.4" data-moto-widget-actions-scroll-to class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">УСЛОВИЯ</a>
        </li><li class="moto-widget-menu-item">
    <a href="#"   data-action="scroll_to_anchor" data-anchor="Contact" data-time="0.4" data-moto-widget-actions-scroll-to class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">КОНТАКТЫ</a>
        </li>        </ul>
    </div></div>

                
            
        </div>
    </div>
</div></div><div data-widget-id="wid_1599473015_1eahehwy3" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-content/uploads/2020/09/top_bgr_2.jpg" class="moto-widget-image-picture lazyload" data-id="214" title="" alt="">
            </span>
            </div></div>
        </div>
    </div>
</div><div class="moto-widget moto-widget-block moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="block" data-spacing="mama" style="" data-bg-position="top" wfd-id="163"><a class="moto-anchor" name="About"></a>
    
    
    <div class="container-fluid" wfd-id="164">
        <div class="row" wfd-id="165">
            <div class="moto-cell col-sm-12" data-container="container" wfd-id="166">
                
            <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top" wfd-id="167">
    
    
    <div class="container-fluid" wfd-id="168">
        <div class="row" data-container="container" wfd-id="169">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="170">
    
    
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-zero moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="zasa" data-visible-on="-" data-animation="" wfd-id="182">
    <div class="moto-widget-text-content moto-widget-text-editable" wfd-id="183"><h2 style="text-align: center;" class="moto-text_system_6"><span class="moto-color_custom4" wfd-id="184">Участвуй в конкурсе «Поколение «За!»</span></h2></div>
</div><div data-widget-id="wid_1535011517_e9vccqtgv" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-content/uploads/2020/09/mt-1579-home-divider.png" class="moto-widget-image-picture lazyload" data-id="192" title="" alt="">
            </span>
            </div><div class="moto-widget moto-widget-row moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="saaa" style="" data-bg-position="left top" wfd-id="171">
    
    
    <div class="container-fluid" wfd-id="172">
        <div class="row" data-container="container" wfd-id="173">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="174">
    
    
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-zero moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaza" data-visible-on="-" data-animation="" wfd-id="175">
    <div class="moto-widget-text-content moto-widget-text-editable" wfd-id="176"><p style="text-align: center;" class="moto-text_normal"><span style="font-size:18px;" wfd-id="177"><span style="color:#606060;" wfd-id="178"><strong><span wfd-id="179">Почувствуй себя настоящим учёным, создав свою лабораторию здоровья. Перевоплотись в детектива и проведи своё собственное расследование. И если вся твоя семья уже поддерживает здоровое питание, то бери их в союзники и принимай участие всей семьёй.</span></strong></span></span></p></div>
</div></div>

                
            
        </div>
    </div>
</div></div>

                
            
        </div>
    </div>
</div></div>
        </div>
    </div>
</div><div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-visible-on="-" data-spacing="aaaa" style="background-color:#339dd8;" data-bg-position="left top" wfd-id="153" data-draggable-disabled="">
    
        
        
        
    
    
    <div class="container-fluid" wfd-id="154">
        <div class="row" data-container="container" wfd-id="155">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="156">
    
    
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="sasa" data-visible-on="-" data-animation="" data-draggable-disabled="" wfd-id="157">
    <div class="moto-widget-text-content moto-widget-text-editable" aria-multiline="true" wfd-id="158"><p class="moto-text_normal" style="text-align: center;"><span style="font-size:26px;" wfd-id="161"><strong><span class="moto-color5_5" wfd-id="162">Разберись, что такое здоровое питание</span></strong></span></p><p class="moto-text_normal" style="text-align: center;"><span style="font-size:26px;" wfd-id="159"><strong><span class="moto-color5_5" wfd-id="160">и создай крутой видеоролик на одну из конкурсных тем!</span></strong></span></p></div>
</div></div>

                
            
        </div>
    </div>
</div><div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-visible-on="-" data-spacing="aaaa" style="" data-bg-position="left top" wfd-id="146" data-draggable-disabled="">
    
        
        
        
    
    
    <div class="container-fluid" wfd-id="147">
        <div class="row" data-container="container" wfd-id="148">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="149">
    
    
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="masa" data-visible-on="-" data-animation="" wfd-id="150" data-draggable-disabled="">
    <div class="moto-widget-text-content moto-widget-text-editable" wfd-id="151" aria-multiline="true"><h2 style="text-align: center;" class="moto-text_system_6"><span class="moto-color_custom4" wfd-id="152">КОНКУРСНЫЕ ТЕМЫ</span></h2></div>
</div></div>

                
            
        </div>
    </div>
</div><div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-visible-on="-" data-spacing="aaaa" style="" data-bg-position="left top" wfd-id="140">
    
        
        
        
    
    
    <div class="container-fluid" wfd-id="141">
        <div class="row" data-container="container" wfd-id="142">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="143"><div data-widget-id="wid_1599475309_4khptz8v4" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-content/uploads/2020/09/mt-1579-home-divider.png" class="moto-widget-image-picture lazyload" data-id="192" title="" alt="">
            </span>
            </div>
    
    
</div>

                
            
        </div>
    </div>
</div><div class="moto-widget moto-widget-block moto-spacing-top-zero moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="block" data-spacing="zasa" style="" data-bg-position="left top" wfd-id="124"><a class="moto-anchor" name="pricing"></a>
    
    
    <div class="container-fluid" wfd-id="125">
        <div class="row" wfd-id="126">
            <div class="moto-cell col-sm-12" data-container="container" wfd-id="127">
                
            <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top" wfd-id="128" data-visible-on="-">
    
    
    <div class="container-fluid" wfd-id="129">
        <div class="row" data-container="container" wfd-id="130">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="137">
    
    
<div data-widget-id="wid_1535011704_1y3lfetdu" class="moto-widget moto-widget-image moto-preset-5 moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-content/uploads/2020/09/1_1.png" class="moto-widget-image-picture lazyload" data-id="204" title="" alt="">
            </span>
            </div></div>

                
            
        <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="134">
    
    
        
            <div data-widget-id="wid_1535012291_ptja9gxt6" class="moto-widget moto-widget-image moto-preset-5 moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-content/uploads/2020/09/2_1.png" class="moto-widget-image-picture lazyload" data-id="203" title="" alt="">
            </span>
            </div>
        
    
        
            
        
    
        
            
        
    
</div><div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="131">
    
    
        
            <div data-widget-id="wid_1535012293_1irjpiyyt" class="moto-widget moto-widget-image moto-preset-5 moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-content/uploads/2020/09/3_1.png" class="moto-widget-image-picture lazyload" data-id="205" title="" alt="">
            </span>
            </div>
        
    
        
            
        
    
        
            
        
    
</div></div>
    </div>
</div></div>
        </div>
    </div>
</div><div class="moto-widget moto-widget-row row-gutter-0 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-zero moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-visible-on="-" data-spacing="aaza" style="" data-bg-position="left top" wfd-id="117"><a class="moto-anchor" name="Geo"></a>
    
        
        
        
    
    
    <div class="container-fluid" wfd-id="118">
        <div class="row" data-container="container" wfd-id="119">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="120">
    
    
<div data-widget-id="wid_1599476183_3ylw681i5" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-medium moto-spacing-right-zero moto-spacing-bottom-auto moto-spacing-left-zero moto-visible-on_mobile-h_hidden moto-visible-on_mobile-v_hidden " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-content/uploads/2020/09/geo_new.png" class="moto-widget-image-picture lazyload" data-id="206" title="" alt="">
            </span>
            </div><div data-widget-id="wid_1599818832_6ldf8z2tg" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-medium moto-spacing-right-zero moto-spacing-bottom-auto moto-spacing-left-zero moto-visible-on_desktop_hidden moto-visible-on_tablet_hidden " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-content/uploads/2020/09/geo_mobile.jpg" class="moto-widget-image-picture lazyload" data-id="217" title="" alt="">
            </span>
            </div></div>

                
            
        </div>
    </div>
</div><div class="moto-widget moto-widget-row row-fixed moto-spacing-top-zero moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-visible-on="-" data-spacing="zaaa" style="" data-bg-position="left top" wfd-id="110" data-draggable-disabled="">
    
        
        
        
    
    
    <div class="container-fluid" wfd-id="111">
        <div class="row" data-container="container" wfd-id="112">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="113"><div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="masa" data-visible-on="-" data-animation="" data-draggable-disabled="" wfd-id="114">
    <div class="moto-widget-text-content moto-widget-text-editable" aria-multiline="true" wfd-id="115"><h2 style="text-align: center;" class="moto-text_system_6"><span style="color:#329cd8;" wfd-id="116"><font color="#e82914">ОРГАНИЗАТОРЫ</font></span></h2></div>
</div>
    
    
</div>

                
            
        </div>
    </div>
</div><div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-visible-on="-" data-spacing="aaaa" style="" data-bg-position="left top" wfd-id="104">
    
        
        
        
    
    
    <div class="container-fluid" wfd-id="105">
        <div class="row" data-container="container" wfd-id="106">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="107"><div data-widget-id="wid_1599476697_2jx5qnf1c" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-content/uploads/2020/09/mt-1579-home-divider.png" class="moto-widget-image-picture lazyload" data-id="192" title="" alt="">
            </span>
            </div>
    
    
</div>

                
            
        </div>
    </div>
</div><div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-visible-on="-" data-spacing="aaaa" style="" data-bg-position="left top" wfd-id="93"><a class="moto-anchor" name="Docs"></a>
    
        
        
        
    
    
    <div class="container-fluid" wfd-id="94">
        <div class="row" data-container="container" wfd-id="95">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="100">
    
    
<div class="moto-widget moto-widget-container undefined moto-container_content_5f5613b51" data-visible-on="" data-widget="container" data-container="container" data-css-name="moto-container_content_5f5613b51" data-bg-position="left top" wfd-id="101">
    
    
    
<div data-widget-id="wid_1599476776_qsdpr8zow" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-content/uploads/2020/09/ashan_new.jpg" class="moto-widget-image-picture lazyload" data-id="207" title="" alt="">
            </span>
            </div></div></div><div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="96"><div class="moto-widget moto-widget-container undefined moto-container_content_5f5613bb2" data-visible-on="" data-widget="container" data-container="container" data-css-name="moto-container_content_5f5613bb2" data-bg-position="left top" wfd-id="97">
    
    
    
<div data-widget-id="wid_1599476793_4v8kns9nk" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-content/uploads/2020/09/zdorovie_new.jpg" class="moto-widget-image-picture lazyload" data-id="208" title="" alt="">
            </span>
            </div></div>
    
    
</div>

                
            
        </div>
    </div>
</div><div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-visible-on="-" data-spacing="aaaa" style="" data-bg-position="left top" wfd-id="87">
    
        
        
        
    
    
    <div class="container-fluid" wfd-id="88">
        <div class="row" data-container="container" wfd-id="89"><div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="90"><div data-widget-id="wid_1601892920_fnqpwhb1r" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto moto-visible-on_mobile-h_hidden moto-visible-on_mobile-v_hidden " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-content/uploads/2020/10/pri_pod_fed.jpg" class="moto-widget-image-picture lazyload" data-id="222" title="" alt="">
            </span>
            </div>
    
    
<div data-widget-id="wid_1601915742_lryu1b4fb" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto moto-visible-on_desktop_hidden moto-visible-on_tablet_hidden " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-content/uploads/2020/10/pri_pod_fed_mobile.jpg" class="moto-widget-image-picture lazyload" data-id="224" title="" alt="">
            </span>
            </div></div>
            
                
                    

                
            
        </div>
    </div>
</div><div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-visible-on="-" data-spacing="aaaa" style="" data-bg-position="left top" wfd-id="77">
    
        
        
        
    
    
    <div class="container-fluid" wfd-id="78">
        <div class="row" data-container="container" wfd-id="79">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="84">
    
    
<div class="moto-widget moto-widget-container undefined moto-container_content_5f5614893" data-visible-on="" data-widget="container" data-container="container" data-css-name="moto-container_content_5f5614893" data-bg-position="left top" wfd-id="85">
    
    
    
<div data-widget-id="wid_1599476885_nlyfum6e4" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="image">
                        <a href="/mt-content/uploads/2020/10/documents_new.rar" target="_blank"  data-action="file" class="moto-widget-image-link moto-link">
                <img data-src="/mt-content/uploads/2020/09/download.jpg" class="moto-widget-image-picture lazyload" data-id="186" title="" alt="">
            </a>
            </div></div></div><div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="80"><div class="moto-widget moto-widget-container undefined moto-container_content_5f56148c4" data-visible-on="" data-widget="container" data-container="container" data-css-name="moto-container_content_5f56148c4" data-bg-position="left top" wfd-id="81">
    
    
    
<div data-widget-id="wid_1599477017_mausknkbr" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-content/uploads/2020/09/arrow.jpg" class="moto-widget-image-picture lazyload" data-id="188" title="" alt="">
            </span>
            </div></div>
    
    
</div>

                
            
        </div>
    </div>
</div><div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-visible-on="-" data-spacing="aaaa" style="" data-bg-position="left top" wfd-id="71">
    
        
        
        
    
    
    <div class="container-fluid" wfd-id="72">
        <div class="row" data-container="container" wfd-id="73">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="74"><div data-widget-id="wid_1599652631_wq8o50f9n" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
    data-widget="spacer" data-preset="default" data-spacing="maaa" data-visible-on="+desktop,tablet,mobile-h,mobile-v">
    <div class="moto-widget-spacer-block" style="height:30px"></div>
</div>
    
    
</div>

                
            
        </div>
    </div>
</div><div class="moto-widget moto-widget-row row-fixed moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-visible-on="-" data-spacing="sasa" style="background-color:#69b436;" data-bg-position="left top" wfd-id="63">
    
        
        
        
    
    
    <div class="container-fluid" wfd-id="64">
        <div class="row" data-container="container" wfd-id="65">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="66">
    
    
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="sasa" data-visible-on="-" data-animation="" wfd-id="67">
    <div class="moto-widget-text-content moto-widget-text-editable" wfd-id="68"><p class="moto-text_normal" style="text-align: center;"><span class="moto-color5_5" wfd-id="69"><span style="font-size:36px;" wfd-id="70"><strong>Как принять участие?</strong></span></span></p></div>
</div></div>

                
            
        </div>
    </div>
</div><div class="moto-widget moto-widget-row row-gutter-0 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-zero moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-visible-on="-" data-spacing="aaza" style="" data-bg-position="left top" wfd-id="56"><a class="moto-anchor" name="Scheme"></a>
    
        
        
        
    
    
    <div class="container-fluid" wfd-id="57">
        <div class="row" data-container="container" wfd-id="58">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="59"><div data-widget-id="wid_1599477089_z8pbnkm08" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-medium moto-spacing-right-zero moto-spacing-bottom-auto moto-spacing-left-zero moto-visible-on_mobile-h_hidden moto-visible-on_mobile-v_hidden " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-content/uploads/2020/09/scheme3.jpg" class="moto-widget-image-picture lazyload" data-id="215" title="" alt="">
            </span>
            </div>
    
    
<div data-widget-id="wid_1609141718_h55818n9s" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-medium moto-spacing-right-zero moto-spacing-bottom-auto moto-spacing-left-zero moto-visible-on_mobile-h_hidden moto-visible-on_mobile-v_hidden " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-content/uploads/2020/12/1280x681_3_final-01.jpg" class="moto-widget-image-picture lazyload" data-id="225" title="" alt="">
            </span>
            </div><div data-widget-id="wid_1610529906_n652ger6m" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-medium moto-spacing-right-zero moto-spacing-bottom-auto moto-spacing-left-zero moto-visible-on_desktop_hidden moto-visible-on_tablet_hidden " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-content/uploads/2021/01/result_mobile.png" class="moto-widget-image-picture lazyload" data-id="226" title="" alt="">
            </span>
            </div><div data-widget-id="wid_1599819123_2s077lcz3" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-medium moto-spacing-right-zero moto-spacing-bottom-auto moto-spacing-left-zero moto-visible-on_desktop_hidden moto-visible-on_tablet_hidden " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-content/uploads/2020/09/scheme_mobile.jpg" class="moto-widget-image-picture lazyload" data-id="218" title="" alt="">
            </span>
            </div></div>

                
            
        </div>
    </div>
</div>            
        <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-visible-on="-" data-spacing="maaa" style="" data-bg-position="left top" wfd-id="8"><a class="moto-anchor" name="Contact"></a>
    
        
        
        
    
    
    <div class="container-fluid" wfd-id="9">
        <div class="row" data-container="container" wfd-id="10">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="38">
    
    
<div class="moto-widget moto-widget-container undefined moto-container_content_5f56163b5" data-visible-on="" data-widget="container" data-container="container" data-css-name="moto-container_content_5f56163b5" data-bg-position="left top" wfd-id="39">
    
    
    
<div data-widget-id="wid_1599477327_xiz97ufyw" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-content/uploads/2020/09/logo_contact_2.jpg" class="moto-widget-image-picture lazyload" data-id="216" title="" alt="">
            </span>
            </div><div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-visible-on="-" data-animation="" wfd-id="44">
    <div class="moto-widget-text-content moto-widget-text-editable" wfd-id="45"><p style="text-align: center;" class="moto-text_normal"><span style="color:#2b3754;" wfd-id="53">&nbsp;По всем возникающим вопросам</span></p><p style="text-align: center;" class="moto-text_normal"><span style="color:#2b3754;" wfd-id="52">обращайтесь на горячую линию:</span></p><p style="text-align: center;" class="moto-text_normal"><span style="font-size:20px;" wfd-id="50"><strong><span style="color:#2b3754;" wfd-id="51">8 800 222 08 07</span></strong></span></p><p style="text-align: center;" class="moto-text_normal"><span style="font-size:20px;" wfd-id="48"><strong><span style="color:#2b3754;" wfd-id="49">(по будням с 9:00 до 18:00)</span></strong></span></p><p style="text-align: center;" class="moto-text_normal"><span style="font-size:20px;" wfd-id="46"><strong><span style="color:#2b3754;" wfd-id="47">&nbsp;konkurs@foodforchildren.ru</span></strong></span></p></div>
</div><div id="wid_1599477426_lewf5a38r" data-widget-id="wid_1599477426_lewf5a38r" class="moto-widget moto-widget-social-links-extended moto-preset-2 moto-align-center moto-align-center_mobile-v moto-align-center_mobile-h moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-small  " data-widget="social_links_extended" data-preset="2">
        <ul class="moto-widget-social-links-extended__list">
                <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-1">
            <a href="https://vk.com/foodforchildrenru" class="moto-widget-social-links-extended__link" target="_blank" >
                <span class="moto-widget-social-links-extended__icon fa fa-vk"></span>
            </a>
        </li>
            </ul>
    <style type="text/css">
                    </style>
    </div></div></div><div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top" wfd-id="11"><div class="moto-widget moto-widget-container undefined moto-container_content_5f56163e6" data-visible-on="" data-widget="container" data-container="container" data-css-name="moto-container_content_5f56163e6" data-bg-position="left top" wfd-id="31">
    
    
    
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-visible-on="-" data-animation="" wfd-id="32">
    <div class="moto-widget-text-content moto-widget-text-editable" wfd-id="33"><h2 style="text-align: center;" class="moto-text_system_6"><span style="font-size:28px;" wfd-id="34"><span style="color:#339dd8;" wfd-id="35"><span wfd-id="36"><span wfd-id="37">ОСТАЛИСЬ ВОПРОСЫ?</span></span></span></span></h2></div>
</div></div><div data-widget-id="wid_1535014509_jsf2fbjkn" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-content/uploads/2020/09/mt-1579-home-divider.png" class="moto-widget-image-picture lazyload" data-id="192" title="" alt="">
            </span>
            </div>
    
    
<div data-widget-id="wid_1535014593_fyv73euof" class="moto-widget moto-widget-contact_form moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-preset="default" data-widget="contact_form" data-spacing="aaaa">
        <div ng-controller="widget.ContactForm.Controller" ng-init="hash = '2@eyJoIjoiZEx0K1NBOXROYlhSVVR0cXJScXpQbVA5Rm52UXVUdlpqdmZOZUZ5MzhkTT0iLCJpIjoiYVdSS1NKYzBld3FcLzF2WEs1TU5mdmc9PSIsInYiOiJtMXRDWHY0aVpteDE1dk9EcEl3bWl5MkJUbDNcL3NDa1lKWmdKRVJCZ2VkMzN5MFpibWp4T2VMdWRid08yRmxDTUJJbXRvcVVYNWNVK3hUY0FZVEc2cVJybzlVdEJiaVFTcDZSc09NczZZT3c9In0=';actionAfterSubmission={&quot;action&quot;:&quot;none&quot;,&quot;url&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;id&quot;:&quot;&quot;};resetAfterSubmission=false">
                <form class="moto-widget-contact_form-form" role="form" name="contactForm" ng-submit="submit()" novalidate>
            <div ng-show="sending" class="contact-form-loading"></div>

                                                                                                        <div class="moto-widget-contact_form-group">
                            <label for="field_name_wid_1535014593_fyv73euof" class="moto-widget-contact_form-label">Имя, фамилия</label>
                            <input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="Имя, фамилия *"  ng-blur="validate('name')" required  ng-model-options="{ updateOn: 'blur' }" name="name" id="field_name_wid_1535014593_fyv73euof" ng-model="message.name"/>
                                                            <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.name.$invalid && !contactForm.name.$pristine && !contactForm.name.emailInvalid" >Обязательно к заполнению</span>
                                                                                    </div>
                                    
                                                                                                        <div class="moto-widget-contact_form-group">
                            <label for="field_email_wid_1535014593_fyv73euof" class="moto-widget-contact_form-label">E-mail</label>
                            <input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="E-mail *"  ng-blur="validate('email')" required  ng-model-options="{ updateOn: 'blur' }" name="email" id="field_email_wid_1535014593_fyv73euof" ng-model="message.email"/>
                                                            <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.email.$invalid && !contactForm.email.$pristine && !contactForm.email.emailInvalid" >Обязательно к заполнению</span>
                                                                    <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.email.emailInvalid && !contactForm.email.$pristine" >Неверный e-mail</span>
                                                                                    </div>
                                    
                                                                                                        <div class="moto-widget-contact_form-group">
                            <label for="field_phone_wid_1535014593_fyv73euof" class="moto-widget-contact_form-label">Номер телефона</label>
                            <input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="Номер телефона *"  ng-blur="validate('phone')" required  ng-model-options="{ updateOn: 'blur' }" name="phone" id="field_phone_wid_1535014593_fyv73euof" ng-model="message.phone"/>
                                                            <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.phone.$invalid && !contactForm.phone.$pristine && !contactForm.phone.emailInvalid" >Обязательно к заполнению</span>
                                                                                    </div>
                                    
                                                            
                                                            
                                                            
                                                                                                        <div class="moto-widget-contact_form-group">
                            <label for="field_message_wid_1535014593_fyv73euof" class="moto-widget-contact_form-label">Ваше сообщение</label>
                            <textarea class="moto-widget-contact_form-field moto-widget-contact_form-textarea" rows="3" placeholder="Ваше сообщение "  ng-model-options="{ updateOn: 'blur' }" name="message" id="field_message_wid_1535014593_fyv73euof" ng-model="message.message"></textarea>
                                                            <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.message.$invalid && !contactForm.message.$pristine" >Обязательно к заполнению</span>
                                                    </div>
                                    
                                                            
            
                            <div class="moto-widget-contact_form-success ng-cloak" ng-cloak ng-show="showSuccessMessage">
                    Ваше сообщение успешно отправлено
                </div>
                <div class="moto-widget-contact_form-danger ng-cloak" ng-cloak ng-show="emailError">
                    Извините, но Ваше сообщение не отправлено
                </div>
                        <div class="moto-widget-contact_form-buttons">

                            <div class="moto-widget moto-widget-button moto-preset-default moto-align-center" data-preset="default" data-align="center">
                    <a ng-click="submit();" class="moto-widget-button-link moto-size-large" data-size="large"><span class="fa moto-widget-theme-icon"></span><span class="moto-widget-button-label">НАПИШИ НАМ</span></a>
                </div>
                <button type="submit" class="hidden"></button>
            
            </div>
        </form>
    </div>
    </div></div>

                
            
        </div>
    </div>
</div>            
        </section>
    </div>


                     <div data-moto-back-to-top-button class="moto-back-to-top-button">
        <a ng-click="toTop($event)" class="moto-back-to-top-button-link">
            <span class="moto-back-to-top-button-icon fa"></span>
        </a>
    </div>
                    <script src="/mt-includes/js/website.assets.min.js?_build=1599072377" type="text/javascript" data-cfasync="false"></script>
    <script type="text/javascript" data-cfasync="false">
        var websiteConfig = websiteConfig || {};
        websiteConfig.address = 'https://foodforchildren.ru/';
        websiteConfig.addressHash = '46cb46705f4dbabb6c6ff4b3d8846fac';
        websiteConfig.apiUrl = '/api.php';
        websiteConfig.preferredLocale = 'ru_RU';
        websiteConfig.preferredLanguage = websiteConfig.preferredLocale.substring(0, 2);
                websiteConfig.back_to_top_button = {"topOffset":300,"animationTime":500,"type":"theme"};
                websiteConfig.popup_preferences = {"loading_error_message":"The content could not be loaded."};
        websiteConfig.lazy_loading = {"enabled":true};
        websiteConfig.cookie_notification = {"enabled":false,"content":"<p class=\"moto-text_normal\">This website uses cookies to ensure you get the best experience on our website.<\/p>","content_hash":"6200d081e0d72ab7f5a8fe78d961c3ec"};
                angular.module('website.plugins', []);
    </script>
    <script src="/mt-includes/js/website.min.js?_build=1599072377" type="text/javascript" data-cfasync="false"></script>
                
    
    
</body>
</html>